<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div style="margin: 10rem; border: 1px solid #000; width: 15rem; padding: 3rem">
    <p>---</p>
    <p>- name: installation nginx</p>
    <p>  hosts: all</p>
    <p>  become: yes</p>
    <p>  become_method: sudo</p>
    <p>  tasks:</p>
    <p>    - name: install nginx</p>
    <p>      apt: name=nginx state=latest</p>
  </div>
</body>
</html>