<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="{{asset('css/etat_machines/messageFonctionnalite.css')}}">
</head>
<body>
  <h1>Wireshark a bien été installé</h1>
  <img src="{{asst('images/done.svg')}}" alt="">
  <a href="{{path('gestionFonctionnalites')}}">Retour aux fonctionnalités</a>
</body>
</html>