<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href=" {{asset('css/membre/accueilMembre.css')}} ">
    <link rel="icon" type="image/png" href=" {{asset('logo_icone.png')}} " />
    <title>Acceuil Membre</title>
</head>
<body>
<div id="contenu">
    <h1 class="titre">Espace Membre</h1>
    <div class="boutonsNavigation">
        <a href=" {{path('ConfigurationMachines')}} "><div id="bouton">Creation machines </div></a> 
        <a href=" {{path('etatMachines')}} "><div id="bouton">Voir état machines</div></a>
    </div>  
</div>
</body>
</html>