<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Choix de l'OS</title>
    <link rel="stylesheet" href=" {{asset('css/creation_machine/creationMachine.css')}} ">
    <link rel="icon" type="image/png" href=" {{asset('logo_icone.png')}} " />
    
</head>
<body>
    <h1>Sélection du système d'exploitation</h1>
    <div id="formulaire">
        {{ form(myform) }}
    </div>
</body>
</html>