<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Erreur</title>
  <link rel="stylesheet" href="{{asset('css/etat_machines/messageFonctionnalite.css')}}">
</head>
<body>
  <h1>Une erreur est apparue: {erreur}</h1>
  <img src="{{asset('images/erreur.svg')}}" alt="">
  <div class="bouton"><a href="{{path('gestionFonctionnalites')}}">Retour aux fonctionnalités</a></div>
</body>
</html>