<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href=" {{asset('logo_icone.png')}} " />
    <title>Document</title>
</head>
<body>
    <h1>Etat des machines</h1>
</body>
</html>