<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="{{asset('css/etat_machines/messageFonctionnalite.css')}}">
</head>
<body>
  <h1>Git a bien été désinstallé</h1>
  <img src="{{asset('images/done.svg')}}" alt="">
  <div class="bouton"><a href="{{path('gestionFonctionnalites')}}">Retour aux fonctionnalités</a></div>
</body>
</html>